<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Отзыв</title>
</head>
<body>
    <form method="post">
    {{ form.as_table }}
         <input type="hidden" name="event" value="{{event}}">
        <input type="hidden" name="user" value="{{user}}">
    <button type="submit">Оставить отзыв</button>
</form>
</body>
</html>