<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">

    <title>Спасибо</title>

    <style>
        body {
             margin: 0;
             background: linear-gradient(blue, purple) no-repeat;
             color: rgb(255, 255, 255);
             height: 100vh;
             width: 100%;
             font-family: 'Roboto', sans-serif;
             font-size: 50px;
    }

    </style>


</head>
<body>
    <h1>Мероприятие</h1> 
        <p>{{ event.name }}</p>
    <h2>Дата и время </h2> 
        <p>{{ event.date}}</p>
    <h3>Участник</h3> 
        <p>{{ student.name }}</p>
</body>
</html>